
  <div style="padding-top: 2em"></div>
  
    <div style="padding-top: 2em"></div>

    <div class="container text-center"> <span style = "color: white; font-family: cursive;
      font-size: x-large;" class="label label-default" >Latest Posts:</span></div>
 
  <div style="cursor: pointer;" id="demo" class="container carousel slide" data-ride="carousel" *ngIf="allBlogs.blogs.length != 0">
      <ol class="carousel-indicators" >
          <li data-target="#demo" *ngFor="let blog of allBlogs.blogs; let blogIndex=index" [attr.data-slide-to]="blogIndex"  [ngClass]="blogIndex == 0 ? 'active' : ''"></li>
        </ol>
      <div class="row carousel-inner" style="height: max-content; width: auto">
          <div routerLink="/viewblog" (click) = "selectedBlog(blog)"  #blogItems *ngFor="let blog of allBlogs.blogs; let blogIndex=index"[ngClass]="blogIndex == 0 ? 'col-sm carousel-item active' : 'col-sm carousel-item'">
              <div class="card text-white bg-dark mb-3">
                  <img class="card-img-top custom-card-img-top" src="{{blog.titleImage}}" alt="Card image cap">
                  <div class="card-body">
                    <h5 style="text-align: center" class="card-title">{{blog.title}}:</h5>
                    <div style="text-align: center" class="card-text" #items>
                        <p>{{blog.description.substr(0,250)}}...</p>
                    </div>
                  </div>
                
                  <div class="card-body">
                    <div>by: {{blog.authorName}}</div>
                    <div>{{blog.date.split("T")[0]}}</div>
                  </div>
                </div>
              
          </div>
      </div>
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
    </div>
