
<div class="container">
   
   
    <div class="row about-me-row" >
  
      <div class="col-md-4 user-card">
        <img class="user img-fluid" src="/assets/me.png" alt="">
        <div>
          <h5 style="color: white;">  Aatif Ahmed</h5>
          <div class="social-media col-md-6">
            <ul>
           
                <li><a href="https://github.com/syedaatif"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a></li>
                <li><a href="https://www.linkedin.com/in/syed-aatif-ahmed/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="https://www.instagram.com/aatifu"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
        </div>
        </div>
      </div>
  
      <div class="col-md-8" style="color: white;">
        <h3 class="my-3">About me</h3>
        <p>Pursued Bachelor of Engineering in Electronics and Communication.</p>
           <p>Passionate about Robotics, IOT, IORT ,AI, Automation with an ardour for futuristic technologies.</p> 
            
           <p>Coding Experience : JavaScript, Angular 6,HTML5, CSS, C# ,.NET ,SQL.</p> 
            
           <p> Hardware worked on: Arduino Uno/Mega, Raspberry PI,Asus Tinker Board, Intel Edison,BeagleBone,ESP8266 Wifi Module.Motors(DC,Stepper,Servo).</p>
            
           <p>Sensors:Lidar Lite v3,RP Lidar A1M8,Kinect V1, Ultrasonic Sensors(HC SR04),Bluetooth Module(HC-05),NRF24L01 transreceivers,IMU (GY85,MPU6050),Multi channel Relays,Motor Drivers(L298,VNH2SP40,Rhino Drivers),IR sensor.</p> 
            
           <p> Platforms and softwares worked on :ROS,Netbeans IDE,Arduino CC,MATLAB R2015,LabVIEW,Visual Studio.</p>
        <!-- <h3 class="my-3">Project Details</h3> -->
        
      </div>
  
    </div>
    <!-- /.row -->
  
    <!-- Related Projects Row -->
    <h3 class="my-4 corn-color">Skills</h3>
  <div class="container">
    <div class="row">
  
      <div class="col-sm">
        <app-radial-chart [percentage]= "0.80" [skillName]="'JavaScript'"></app-radial-chart>
      </div>
  
      <div class="col-sm">
        <a href="#">
            <app-radial-chart [percentage]= "0.75" [skillName]= "'Angular'"></app-radial-chart>
            </a>
      </div>
  
      <div class="col-sm">
        <a href="#">
            <app-radial-chart [percentage]= "0.9" [skillName]= "'HTML5'"></app-radial-chart>
            </a>
      </div>
  
      <div class="col-sm">
        <a href="#">
            <app-radial-chart [percentage]= "0.85" [skillName]= "'CSS3'"></app-radial-chart>
            </a>
      </div>

      <div class="col-sm">
          <a href="#">
              <app-radial-chart [percentage]= "0.65" [skillName]= "'C#'"></app-radial-chart>
              </a>
        </div>

        <div class="col-sm">
            <a href="#">
                <app-radial-chart [percentage]= "0.75" [skillName]= "'SQL'"></app-radial-chart>
                </a>
          </div>
  
    </div>
  </div>
    <!-- /.row -->
    
   
  </div>