<form #userForm="ngForm" (ngSubmit)="onSave(userForm.value)" novalidate>
    <table border='1'>
      <tr>
        <td>Title</td>
        <td>Image</td>
        <td>Author Name</td>
        <td>
          <input name="id" type="hidden" [(ngModel)]="Repdata.id" />
          <input name="title" type="text" required [(ngModel)]="Repdata.title" />
          <input name="date" type="hidden" [(ngModel)]="Repdata.date" />
         
          
  
        </td>
        <td> <input name="titleImage" type="text" [(ngModel)]="Repdata.titleImage"/></td>
        <input name="authorName" type="text" [(ngModel)]="Repdata.authorName"/>
      </tr>
  
      <tr>
        <td>Description</td>
        <td>
          <input name="description" required type="text" [(ngModel)]="Repdata.description" />
        </td>
      </tr>

      <tr>
        <td>content</td>
        <td>
          <input name="content" type="text" required [(ngModel)]="Repdata.content"  />
        </td>
      </tr>

      
      <tr>
        <td colspan="2">
          <input type="submit" value="{{valbutton}}" />
        </td>
      </tr>
    </table>
  </form>
  <table border='1' style="margin-top: 3vh">
  
    <tr>
      <td>Id</td>
      <td>Title</td>
      <td>Desciption</td>
      <td>Content</td>
      <td>Date</td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
    <tr *ngFor="let kk of Repdata;let ind = index">
  
      <td>{{ind + 1}}</td>
      <td>{{kk.title}}</td>
      <td>{{kk.description}}</td>
      <td>{{kk.content.substr(1,50)}}</td>
      <td>{{kk.date}}</td>
      <td>
        <a (click)="edit(kk)" style="color:blueviolet">Edit</a>
      </td>
      <td>
        <a (click)="delete(kk._id)" style="color:blueviolet">Delete</a>
      </td>
    </tr>
  </table>
  <a href="http://livetrafficfeed.com/website-counter" id="LTF_counter_href" target="_blank"><img id="LTF_counter_src" src="//livetrafficfeed.com/static/static-counter/feed.png?d=codavy.com&c=87ba6f1e31c0fe017242a3e62c648756&timezone=Asia%2FKolkata&r=837363321" alt="Free Visitors Counter"></a><script src="//cdn.livetrafficfeed.com/static/static-counter/live.js?601486753"></script><noscript><a href="http://livetrafficfeed.com/website-counter">Free Visitors Counter</a></noscript>