<div class="add-blog-container">
    <div class="form-group">
        <label for="usr" style="color:white;">Enter Title:</label>
        <input required type="text" class="form-control" id="usr" [(ngModel)]="title" >
        <div style="padding-top: 2em"></div>
        <label style="color:white;">Select Title Image:(Max Size 50 Kb & Width : Height Ratio of 2:1)</label>
        <input class="form-control" type="file" (change)="onUploadChange($event)" accept=".png, .jpg, .jpeg" />
<img style = "width: 300px; height: 300px" *ngFor="let item of base64textString"  src={{item}} alt="" id="img">
      </div>
      <div style="padding-top: 2em"></div>

      <div class="form-group">
          <label for="comment"  style="color:white;">Description:</label>
          <textarea required [(ngModel)]="description" class="form-control" rows="5" id="comment"></textarea>
        </div>
        <div style="padding-top: 2em"></div>
        <label  style="color:white;">Enter Content:</label>
        <div class="custom-quill-container">
<quill-editor [(ngModel)]="htmlText"
  placeholder="Enter Text"
  [modules]="quillConfig"
  (onSelectionChanged)="onSelectionChanged($event)"
  (onContentChanged)="onContentChanged($event)"></quill-editor>

  <div>
  </div>
</div>
<label for="author" style="color:white;">Enter Author Name:</label>
        <input required type="text" class="form-control" id="author" [(ngModel)]="authorName" >
        <div style="padding-top: 2em"></div>
<div class="row">
    <div class="col-sm-1"><button (click) = "onSave()" type="button" class="btn btn-primary btn-md">Save</button></div>
    <!-- <div class="col-sm-1"></div> -->
    <div class="col-sm-1"><button (click) = "onReset()" type="button" class="btn btn-primary btn-md">Reset</button></div>
  </div>


</div>